body{
 
     margin: 0 auto;
     font:normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXIHEI,HEI;
     color: #000;
     overflow-x: hidden;
     -webkit-tap-highlight-color: transparent;
}